<div class="col-sm-12">
    <div class="row">
        <div class="col-sm-12">
            <div class="header">
              <br/>
              <br/>
                <button type="button" name="button" ng-click="updatePage()">UPDATE</button>
            </div>
            <div class="col-sm-12">
              <h4>Countdown Timer One: </h4>
              Total Downloads:<span style="font-size:24px;">{{ctoTotal}}</span><br/>
              Active Installs:<span style="font-size:24px;">{{ctoActive}}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
          <h4>Regenerate Thumbnails Advanced: </h4>
          Downloads:<span style="font-size:24px;">{{rtaTotal}}</span><br/>
          Active Installs:<span style="font-size:24px;">{{rtaActive}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
          <h4>Total Downloads: <span style="font-size:34px;">{{totalDownloads}}</span> </h4>
          <h4>Total Active Installs: <span style="font-size:34px;">{{totalActive}}</span> </h4>
        </div>
    </div>
</div>
