<div class="col-sm-12">
    <div class="row">
        <div class="col-sm-12">
            <div class="header">
              <br/>
              <br/>
                <button type="button" name="button" ng-click="updatePage()">UPDATE</button>
            </div>
            <div class="col-sm-12">
                <h4>Total Users: <span style="font-size:24px;">{{totalUsers}}</span></h4>
                <h4>Total Logins: <span style="font-size:24px;">{{abLoginCount}}</span></h4>
                <h4>Total Projects: <span style="font-size:24px;">{{abSCount}}</span></h4>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
          <canvas id="products_chart" width="400" height="400"></canvas>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
          <canvas id="login_chart" width="400" height="400"></canvas>
        </div>
    </div>
</div>
