<div class="col-sm-12">
    <div class="row">
        <div class="col-sm-12">
            <div class="header">
              <br/>
              <br/>
                <button type="button" name="button" ng-click="updatePage()">UPDATE</button>
            </div>
            <div class="col-sm-12">
              <h4>Countdown Timer One: </h4>
              Total Downloads:<span style="font-size:24px;">{{downloaded}}</span><br/>
              Active Installs:<span style="font-size:24px;">{{active}}</span>
            </div>
        </div>
    </div>
</div>
